{% extends 'base.html.twig' %}

{% block title %}Détail d'une entreprise{% endblock %}

{% block body %}

  <h1>Détails d'une entreprise</h1>

  <h2> {{entreprise }} </h2>
  <p>
    Adresse : {{ entreprise.adresseComplete }} <br>
    Date de création : {{ entreprise.dateCreation | date("d.m.Y")  }}
  </p>

  <h3> Liste des salariés </h3>
  {% for employe in entreprise.employes %}
    {{ employe }} <br>
    
  {% endfor %}

{% endblock %}
